{% extends 'app/base/default.html' %}

{% block content %}
    <div class="container py-4 px-sm-4">
        <div class="mb-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <h4>Sections</h4>
                </div>
                <div class="col-auto">
                    <a href="{% url 'section:add' %}?prev={{ request.build_absolute_uri|urlencode }}&next={{ request.build_absolute_uri|urlencode }}" class="btn btn-sm btn-success">
                        <i class="fa-solid fa-plus"></i>
                        <span>Add</span>
                    </a>
                    {% if sections %}
                        <a href="{% url 'section:delete_all' %}?prev={{ request.build_absolute_uri|urlencode }}&next={{ request.build_absolute_uri|urlencode }}" class="btn btn-sm btn-danger">
                            <i class="fa-solid fa-trash"></i>
                            <span>Delete All</span>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-2">
                {% for section in sections %}
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row justify-content-between">
                                    <div class="col-auto">
                                        <h5 class="card-title">
                                            {{ section.name }}
                                        </h5>
                                        <div class="card-text"> 
                                            {{ section.description }}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="dropdown">
                                            <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="visually-hidden">Toggle Dropdown</span>
                                                <i class="fa-solid fa-bars"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="{% url 'section:view' section.pk %}?prev={{ request.build_absolute_uri|urlencode }}&next={{ request.build_absolute_uri|urlencode }}" class="dropdown-item" aria-current="true">
                                                        View
                                                    </a>
                                                    <a href="{% url 'section:edit' section.pk %}?prev={{ request.build_absolute_uri|urlencode }}&next={{ request.build_absolute_uri|urlencode }}" class="dropdown-item" aria-current="true">
                                                        Edit
                                                    </a>
                                                    <a href="{% url 'section:delete' section.pk %}?prev={{ request.build_absolute_uri|urlencode }}&next={{ request.build_absolute_uri|urlencode }}" class="dropdown-item" aria-current="true">
                                                        Delete
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
