{% extends 'app/base/empty.html' %}
{% load widget_tweaks %}
{% load static %}

{% block body %}
    <div class="container">
        <div class="w-lg-50 mx-auto mt-md-4 border p-4 rounded shadow">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3 text-center">
                    <img src="{% static 'icon/icon.svg' %}" alt="" width="50">
                    <div class="fs-6 fw-bold text-body-secondary">Student Scoring System</div>
                    <div class="mt-2 fs-5 fw-medium">Login</div>
                </div>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="mb-3 alert alert-danger">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="mb-3">
                    <label for="username" class="form-label">
                        Username
                    </label>
                    {{ form.username}}
                    {% if form.username.erorrs %}
                        {% for error in form.username.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">
                        Password
                    </label>
                        {{ form.password}}
                    {% if form.password.erorrs %}
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100">
                        Login
                    </button>
                </div>
                <div class="mb-3 text-center">
                    or
                </div>
                <div class="mb-3">
                    <a href="{% url 'auth:signup' %}" class="btn btn-success w-100">
                        Register
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
