{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" data-bs-core="modern">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fontawesome for icons -->
    <script src="https://kit.fontawesome.com/1c724ccd5b.js" crossorigin="anonymous"></script>

    <!-- Halfmoon CSS -->
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.2/css/halfmoon.min.css" rel="stylesheet" integrity="sha256-RjeFzczeuZHCyS+Gvz+kleETzBF/o84ZRHukze/yv6o=" crossorigin="anonymous">
 
    <!-- Bootstrap JS bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha256-CDOy6cOibCWEdsRiZuaHf8dSGGJRYuBGC+mjoJimHGw=" crossorigin="anonymous"></script>
 
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="shortcut icon" href="{% static 'icon/icon.svg' %}" type="image/x-icon">
    <title>
        SSS

        {% if title %}
            | {{ title }}            
        {% endif %}
    </title>
</head>
<body>
    {% if messages %}
        <div class="toast-container position-fixed bottom-0 end-0 p-2">
            {% for message in messages %}
                <div class="toast fade show text-bg-{{ message.tags }} border-0 shadow-none" role="status" aria-live="polite" aria-atomic="true"
                data-bs-delay="5000" data-bs-autohide="true">
                    <div class="d-flex">
                        <div class="toast-body">
                            {{ message }}
                        </div>
                        <div class="me-2 m-auto">
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
                                data-bs-theme="dark"></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <script src="{% static 'js/toast_timer.js' %}"></script>
    {% endif %}

    {% block body %}
    {% endblock body %}
</body>
</html>