{% extends 'app/base/default.html' %}

{% block content %}
    <div class="container py-4 px-sm-4">
        <div class="mb-4">
            <div class="row py-2 mb-2 align-items-center justify-content-between">
                <div class="col-auto">
                    <h4 class="p-0 m-0">Courses</h4>
                </div>
                <div class="col-auto">
                    <a href="{% url 'course:index' %}" class="btn btn-sm btn-primary">
                        <i class="fa-solid fa-angles-right"></i>
                        <span>See all courses</span>
                    </a>
                    <a href="{% url 'course:add' %}?prev={{ current_url|urlencode }}&next={{ current_url|urlencode }}" class="btn btn-sm btn-success">
                        <i class="fa-solid fa-plus"></i>
                        <span>Add new course</span>
                    </a>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-2">
                {% for course in courses %}
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row justify-content-between">
                                    <div class="col-10">
                                        <h5 class="card-title">
                                            [{{ course.section.name }}] {{ course.name }}
                                        </h5>
                                        {% if course.description %}
                                            <div class="card-text"> 
                                                <div class="row text-body-secondary">
                                                    <div class="col-1">
                                                        <i class="fa-solid fa-note-sticky"></i>
                                                    </div>
                                                    <div class="col-auto">
                                                        <span class="fw-bold">{{ course.description }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="card-text">
                                            <div class="row text-body-secondary">
                                                <div class="col-1">
                                                    <i class="fa-solid fa-users-between-lines"></i>
                                                </div>
                                                <div class="col-auto">
                                                    <small>Section: {{ course.section.name }} ({{ course.section.students.all.count }} student(s))</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="row text-body-secondary">
                                                <div class="col-1">
                                                    <i class="fa-regular fa-calendar-plus"></i> 
                                                </div>
                                                <div class="col-auto">
                                                    <small>Created: {{ course.date_add }} </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="row text-body-secondary">
                                                <div class="col-1">
                                                    <i class="fa-solid fa-clock"></i>
                                                </div>
                                                <div class="col-auto">
                                                    <small>Updated: {{ course.date_update }}</small>
                                                </div>
                                            </div>     
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="dropdown px-0">
                                            <button type="button" class="btn m-0" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="visually-hidden">Toggle Dropdown</span>
                                                <i class="fa-solid fa-bars"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="{% url 'course:view' course.pk %}" class="dropdown-item" aria-current="true">
                                                        View
                                                    </a>
                                                    <a href="{% url 'course:edit' course.pk %}?prev={{ current_url|urlencode }}&next={{ current_url|urlencode }}" class="dropdown-item" aria-current="true">
                                                        Edit
                                                    </a>
                                                    <a href="{% url 'course:delete' course.pk %}?prev={{ current_url|urlencode }}&next={{ current_url|urlencode }}" class="dropdown-item" aria-current="true">
                                                        Delete
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <hr>
        <div class="">
                <div class="col mb-4 mb-md-0">
                    <div class="row py-2 mb-2 align-items-center justify-content-between">
                        <div class="col-auto">
                            <h4 class="p-0 m-0">Sections</h4>
                        </div>
                        <div class="col-auto">
                            <a href="{% url 'section:index' %}" class="btn btn-sm btn-primary">
                                <i class="fa-solid fa-angles-right"></i>
                                <span>See all sections</span>
                            </a>
                            <a href="{% url 'section:add' %}?prev={{ current_url|urlencode }}&next={{ current_url|urlencode }}" class="btn btn-sm btn-success">
                                <i class="fa-solid fa-plus"></i>
                                <span>Add new section</span>
                            </a>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-2">
                        {% for section in sections %}
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row justify-content-between">
                                            <div class="col-10">
                                                <h5 class="card-title">
                                                    {{ section.name }}
                                                </h5>
                                                {% if section.description %}
                                                    <div class="card-text"> 
                                                        <div class="row text-body-secondary">
                                                            <div class="col-1">
                                                                <i class="fa-solid fa-note-sticky"></i>
                                                            </div>
                                                            <div class="col-auto">
                                                                <span class="fw-bold">{{ section.description }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                <div class="card-text">
                                                    <div class="row text-body-secondary">
                                                        <div class="col-1">
                                                            <i class="fa-solid fa-users-between-lines"></i>
                                                        </div>
                                                        <div class="col-auto">
                                                            <small>{{ section.students.all.count }} student(s)</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-text">
                                                    <div class="row text-body-secondary">
                                                        <div class="col-1">
                                                            <i class="fa-regular fa-calendar-plus"></i> 
                                                        </div>
                                                        <div class="col-auto">
                                                            <small>Created: {{ section.date_add }} </small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-text">
                                                    <div class="row text-body-secondary">
                                                        <div class="col-1">
                                                            <i class="fa-solid fa-clock"></i>
                                                        </div>
                                                        <div class="col-auto">
                                                            <small>Updated: {{ section.date_update }}</small>
                                                        </div>
                                                    </div>     
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="dropdown px-0">
                                                    <button type="button" class="btn m-0" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <span class="visually-hidden">Toggle Dropdown</span>
                                                        <i class="fa-solid fa-bars"></i>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="{% url 'section:view' section.pk %}" class="dropdown-item" aria-current="true">
                                                                View
                                                            </a>
                                                            <a href="{% url 'section:edit' section.pk %}?prev={{ current_url|urlencode }}&next={{ current_url|urlencode }}" class="dropdown-item" aria-current="true">
                                                                Edit
                                                            </a>
                                                            <a href="{% url 'section:delete' section.pk %}?prev={{ current_url|urlencode }}&next={{ current_url|urlencode }}" class="dropdown-item" aria-current="true">
                                                                Delete
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
