{% extends 'app/base/default.html' %}

{% block content %}
    <div class="container  py-4 px-sm-4">
        <div class="row justify-content-between">
            <div class="col-auto">
                <h2>
                    <i class="fa-solid fa-user-group"></i>
                    <span>{{ section.name }} {{ course.name }} ({{ section.students.count }})</span>
                </h2>
                <small class="text-body-secondary">
                    <div>
                        <span><i class="fa-regular fa-calendar-plus"></i> Date Created: {{ course.date_add }} </span>
                    </div>
                    <div>
                        <span><i class="fa-solid fa-clock"></i> Date Updated: {{ course.date_update }} </span>
                    </div>
                </small>
            </div>
            <div class="col-auto">
                <div class="dropdown">
                    <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'course:edit' course.pk %}?prev={{ request.build_absolute_uri|urlencode }}&next={{ request.build_absolute_uri|urlencode }}"
                                class="dropdown-item" aria-current="true">
                                Edit
                            </a>
                            <a href="{% url 'course:delete' course.pk %}?prev={{ request.build_absolute_uri|urlencode }}"
                                class="dropdown-item" aria-current="true">
                                Delete
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <ul class="nav nav-tabs" id="js-tabs-1" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="students-tab" data-bs-toggle="tab" data-bs-target="#students-tab-pane" type="button" role="tab" aria-controls="students-tab-pane" aria-selected="true">
                    Students
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tests-tab" data-bs-toggle="tab" data-bs-target="#tests-tab-pane" type="button" role="tab" aria-controls="tests-tab-pane" aria-selected="false">
                    Tests
                </button>
            </li>
        </ul>
        <div class="tab-content" id="js-tabs-content-1">
            <div class="tab-pane fade show active" id="students-tab-pane" role="tabpanel" aria-labelledby="students-tab" tabindex="0">
                <div class="row align-items-center justify-content-end py-2">
                    <div class="col-auto">
                        <a href="{% url 'section:student:add' section.pk %}?prev={{ request.build_absolute_uri|urlencode }}&next={{ request.build_absolute_uri|urlencode }}"
                            class="btn btn-sm btn-success">
                            <i class="fa-solid fa-plus"></i>
                            <span>Add new student</span>
                        </a>
                        {% if students %}
                        <a href="{% url 'section:student:delete_all' section.pk %}?prev={{ request.build_absolute_uri|urlencode }}&next={{ request.build_absolute_uri|urlencode }}"
                            class="btn btn-sm btn-danger">
                            <i class="fa-solid fa-trash"></i>
                            <span>Delete all students</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="table-secondary">
                            <tr>
                                <th scope="col">Student</th>
                                <th scope="col" class="text-center specific-w-150">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if students %}
                                {% for student in students %}
                                    <tr>
                                        <td scope="col">
                                            <a href="{% url 'section:student:view' section.pk student.pk %}?prev={{ request.build_absolute_uri|urlencode }}&next={{ request.build_absolute_uri|urlencode }}">
                                                {{ student.full_name }}
                                            </a>
                                        </td>
                                        <td scope="col">
                                            <div class="row gx-1 justify-content-center">
                                                <div class="col-auto">
                                                    <div class="">
                                                        <a href="{% url 'section:student:edit' section.pk student.pk %}?prev={{ request.build_absolute_uri|urlencode }}&next={{ request.build_absolute_uri|urlencode }}" class="btn btn-success">
                                                            Edit
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="">
                                                        <a href="{% url 'section:student:delete' section.pk student.pk %}?prev={{ request.build_absolute_uri|urlencode }}&next={{ request.build_absolute_uri|urlencode }}" class="btn btn-danger">
                                                            Delete
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="tests-tab-pane" role="tabpanel" aria-labelledby="tests-tab" tabindex="0">

                <div class="row align-items-center justify-content-end py-2">
                    <div class="col-auto">
                        <a href="{% url 'course:test:add' course.pk %}?prev={{ request.build_absolute_uri|urlencode }}&next={{ request.build_absolute_uri|urlencode }}"
                            class="btn btn-sm btn-success">
                            <i class="fa-solid fa-plus"></i>
                            <span>Add new test</span>
                        </a>
                        {% if students %}
                        <a href="{% url 'course:test:delete_all' course.pk %}?prev={{ request.build_absolute_uri|urlencode }}&next={{ request.build_absolute_uri|urlencode }}"
                            class="btn btn-sm btn-danger">
                            <i class="fa-solid fa-trash"></i>
                            <span>Delete all tests</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="table-secondary">
                            <tr>
                                <th scope="col">Test</th>
                                <th scope="col" class="text-center specific-w-150">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if tests %}
                                {% for test in tests %}
                                    <tr>
                                        <td scope="col">
                                            <a href="{% url 'course:test:view' course.pk test.pk %}?prev={{ request.build_absolute_uri|urlencode }}&next={{ request.build_absolute_uri|urlencode }}">
                                                {{ test }}
                                            </a>
                                        </td>
                                        <td scope="col">
                                            <div class="row gx-1 justify-content-center">
                                                <div class="col-auto">
                                                    <div class="">
                                                        <a href="{% url 'course:test:edit' course.pk test.pk %}?prev={{ request.build_absolute_uri|urlencode }}&next={{ request.build_absolute_uri|urlencode }}" class="btn btn-success">
                                                            Edit
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="">
                                                        <a href="{% url 'course:test:delete' course.pk test.pk %}?prev={{ request.build_absolute_uri|urlencode }}&next={{ request.build_absolute_uri|urlencode }}" class="btn btn-danger">
                                                            Delete
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}